/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #E9E8E6;
}

body {
  width: 75%;
  margin: 0 auto;
}

/* Typography */

h1, h2, h3 {
	font-family:'Kaushan Script', cursive;
	color: #2A2A2A;
}

h1 {
	font-size: 4rem;
	text-align: center;
	text-shadow: 1px 1px 5px #2A2A2A;
  text-transform: uppercase;
  flex: 5;
}

h2 {
	font-size: 3rem;
	text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: nowrap;
  height: 200px;
}

header img {
  display: block;
  height: 150px;
  padding: 25px;
}

main, header, nav, aside, footer, section {
  background-color: rgba(244, 246, 247, .90);
  padding: 1%;
}

nav {
  font-family: 'Alice', serif;
  height: 50px;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* || main layout */

main {
  display: flex;
}

article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 4;
}

article p {
  text-align: justify;
  width: 100%;
}

aside img{
  display: block;
  max-width: 90%;
  margin: auto;
  padding: 10px;
}

aside {
  flex: 1;
  margin-left: 10px;
}

aside li {
  padding-bottom: 10px;
}

footer {
  margin-top: 10px;
}

img { /* drop shadow */

  /*  The validator *warns* that Property 
   *  -webkit-filter is an unknown vendor extension
   *  but this is the only way I found to create the
   *  drop shadow effect as I desired it */

  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.center {
  display: block;
  margin: auto;
}

.fill {
  width: 100%;
}
